<div class="header">
  <div class="top-header">
  <img src ="logo2.png" class="logo">
    <p class="banner">Pet Store</p>
    <div class="search">
      <input type="text" id="navbar-search-input" placeholder="Find your animal...">
      <button class="search-button" type="button" id="navbar-search-button"><i class="fas fa-search fa-2x"></i></button>
    </div>

    <div class="cart">
      <button type="button" id="add-to-cart"><i class="fas fa-shopping-cart fa-2x"></i></button>
    </div>

    </div>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem active"><a href="/">Home</a></li>
      <li class="navitem"><a href="/dog">Dogs</li>
      <li class="navitem"><a href="/cat">Cats</a></li>
      <li class="navitem"><a href="/fish">Fishes</a></li>
      <li class="navitem"><a href="/hedgehog">Hedgehogs</a></li>
    </ul>
  </nav>
</div>
