<div class="product">
	<img class="product-image" src="{{url}}">
	<div class="product-meta">
		<h2 class="product-text"> {{petname}} </h2>

		{{#if hideInfo}}
		<h2 class="product-species"> {{species}} </h2>
		<h2 class="product-color"> {{color}} </h2>
		{{/if}}



		<p class="product-price"> $1.00 </p>
	</div>
</div>
