<div id="finish-checkout">
	<div id="checkout-dialog">
		<div class="checkout-body">
			<div class="checkout-left">
				<img id="checkout-image" src={{url}}>
			</div>
			<div class="checkout-right">
				<h2 class="checkout-description"> Congratulations! You have bought {{petname}} for {{petprice}}.  </h2>
				<a href="/"><button type="button" class="checkout-cart">Click here to go back</button></a>
			</div>
		</div>
	</div>
</div>
