body {
	font-family: Roboto, Helvetica, sans-serif;
	margin: 0;
	background-color: #E9E9E9;
}

a {
	color: white;
	text-decoration: none;
	border: 2px solid black;
}

a:hover {
	transition: 0.3s all;
	border: none;
	border: 2px solid white;
	background-color: white;
	color: black;
}

nav {
	text-align: center;
}

.navbar {
	background-color:black;
	font-size: 25px;
	line-height: 25px;
}

/* First Header */

.active {
	border-bottom: 4px solid white;
}

.navbar-logo {

	padding-left: 50px;
	padding-right:200px;
	font-weight: bold;


}

#navbar-cart-button {
	border: none;
	background: none;
	cursor: pointer;
}

.navbar-search {

	padding-left: 200px;

}

#navbar-search-button {

	border: none;
	background: none;
	cursor: pointer;

}

#navbar-search-input {
	border: none;
	padding-top:5px;
	padding-right:10px;
	height: 22px;

}

#navbar-search-input:hover {

	background-color: #E2E2E2;
}

#navbar-search-input:focus {
	background-color: #E2E2E2;
	border: none;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.navhead {
	padding: 0;
	background-color: black;

}

.navheader {
	display: inline-block;
	padding-top: 30px;
}

/* Second Header */

.navitem {
	padding-bottom:10px;
	display: inline-block;
	margin-left: 45px;
	text-decoration: none;
	

}

.navlink:hover {





}



