body {
	font-family: Roboto, Helvetica, sans-serif;
	margin: 0;
	background-color: #F5F5F5;
}

a {

	color: white;
	text-decoration: none;

}

a:hover {
	color: black;
}

nav {
	text-align: center;
}

/* HEADER */

.header{
	background-color: #ffca3a;
	padding-top: 10px;

}

.logo{
	padding-right: 10px;
	width: 105px;
	height: 75px;
}

.banner{
	color: white;
	font-size: 35px;
	font-weight:bold;
}

.navbar {
	display:flex;
	flex-direction: row;
	margin-top: 10px;
}

.navlist{
	width:100%;
	position: relative;

}

.cart{
	position: absolute;
	right: 0;
	margin-right: 30px;
	margin-top: 45px;
}

#add-to-cart{
	color: white;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 15px;
}

/* Top Header */
.top-header{
	margin-top: 30px;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: row;
}

.search{
	margin-top: 33px;
	margin-left: 1%;
	font-weight:thin;
	height: 35px;
}

.search input{

  border: 0;
  background: none;
  width:500px;
  height:45px;
  background-color:#F5F5F5;
  font-size: 17px;
  border-radius:8px;
  vertical-align: 4px;
}

#navbar-search-button {
	border: none;
	color: white;
	background: none;
	cursor: pointer;

}

#navbar-search-input {

}

#navbar-search-input:hover {
	background-color: #E2E2E2;
}

#navbar-search-input:focus {
	background-color: #E2E2E2;
	border: none;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* Second Header */




.navitem {
	position:relative;
	top:16px;
	display: inline-block;
	margin-left: 3%;
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight:bold;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

}

.navitem::after {
	content: '';
	display: block;
	width: 0px;
	height: 3px;
	background: #000;
	transition: width .4s;
}

.navitem:hover::after {
	width: 100%;
}

.navitem:hover {
	transition: 0.1s all;
	background-color: #A7CCED;
	color: white;
	cursor: pointer;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

/* Sell Pet Modal and Button */
#sell-pet-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
}

#modal-backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.sell-pet-button{
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  background-color: #ffa400;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  font-weight:bold;
}

.sell-pet-header{
	margin-left: 38%;
	font-size: 25px;
}

.pet-questions{
	display: flex;
	flex-direction: column;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5px;
	padding-bottom: 30px;
}

.pet-question{
	align-content: center;
	padding-left: 50px;
	padding-right: 50px;
}

#modal-dialog {
	display: flex;
	flex-direction: column;
  max-width: 50%;
  max-height: 80%;
  min-height: 55%;
  margin: auto;
  margin-top: 80px;
  background-color: #F5F5F5;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
}

.modal-header {
	display: flex;
  padding: 10px 20px;
  width: 100%;
}

.modal-close-button {
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  order: 2;
  margin-left: 250px;
  outline: none;
}

.modal-close-button:active{
	outline: none;
}

.sell-pet-submit{
  background-color: #2fe27a;
  border: none;
  color: white;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
  width: 35%;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.sell-pet-submit:active{
  background-color: #26b763;
  outline: none;
}

.hidden{
	display: none;
}

.photo-card-container{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}

.product{
	flex: 0 1 20%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
	box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.25);
	background-color: #141414;
}

.product:hover{
	cursor: pointer;
	opacity: 0.5;
}

.product-meta {
	color:white;
}

.product-image{
	left: 0;
	top: 0;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.product-text{
	text-align: center;
	
}

.product-price{
	text-align: center;
	
}

/*Single product page*/

#product-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
}

#product-dialog {
  max-width: 80%;
  max-height: 80%;
  min-height: 80%;
  margin: auto;
  margin-top: 80px;
  background-color: #F5F5F5;
  overflow: hidden;
}

#product-image{
	margin-left: 10%; 
	max-height: 600px;
}


.add-to-cart{
  background-color: #2fe27a;
  border: none;
  color: white;
  padding: 15px 100px 15px 100px;
  top: 50%;
  cursor: pointer;
}

.add-to-cart:active{
  background-color: #26b763;
}

.product-header {
  padding: 10px 20px;
}

.product-body{
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.product-left{
  width: 100%;
  height: 100%;
}

.product-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-right: 50px;
}

.product-title {
  margin-top: 75px;
  font-size: 42px;
}


.product-description{
  margin-top: 40px;
}

#related-product-heading{
  margin-top: 50px;
  font-size: 20px;
}

.product-related-products{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
}

.related-product{
  width: 30%;
  margin: 5px;
  cursor: pointer;
  border: 4px solid #141414;
  border-radius: 10px;

}
