body {
	font-family: Roboto, Helvetica, sans-serif;
	margin: 0;
	background-color: #F5F5F5;
}

a {
	color: white;
	text-decoration: none;

}

a:hover {
	color: black;
}

nav {
	text-align: center;
}

/* HEADER */

.header{
	background-color: #63ADF2;
	padding-top: 10px;
}

.banner{
	color: white;
	font-size: 35px;
}

.navbar {
	display:flex;
	flex-direction: row;
}

.navlist{
	width:100%;
	position: relative;
}

.navitem{
	font-size: 25px;
}

.cart{
	position: absolute;
	right: 0;
	margin-right: 30px;
	margin-top: 45px;
}

#add-to-cart{
	color: white;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 15px;
}

/* Top Header */
.top-header{
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: row;
}

.search{
	margin-top: 40px;
	margin-left: 10px;
	background-color: #F5F5F5;
	height: 35px;
}

.search input{
  border: 0;
  background: none;
}

.search-button{

}

#navbar-search-button {
	border: none;
	color: white;
	padding-top: 5px;
	padding-bottom: 8px;
	background: #545E75;
	cursor: pointer;
}

.navbar-search-input {
	margin-left: 10px;
	padding-right: 250px;
	margin-top: 7px;
	font-size: 15px;
	border: none;
}

#navbar-search-input:hover {
	background-color: #E2E2E2;
}

#navbar-search-input:focus {
	background-color: #E2E2E2;
	border: none;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* Second Header */

.active{
  border-bottom: 3px solid white;
}

.navitem {
	display: inline-block;
	margin-left: 3%;
	text-decoration: none;
	color: white;
}

.navitem:hover {
	transition: 0.1s all;
	background-color: #A7CCED;
	color: white;
	cursor: pointer;
}

